* {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	/* width: 960px; */
	min-height: 600px;
	position: relative;
	overflow: hidden;
}

p {
	margin: 0 0 0.7em;
}

a {
	color: black;
	transition: 0.5s ease;
}

a:hover {
	color: #666;
	transition: 0.2s ease;
}

#center {
	position: initial;
	margin: 0 auto 0 auto;
}
